<div class="row portfolioSummary" ng-controller="AddPositionController" ng-model="typeAsset" ng-init="typeAsset=$root.isAdd">
  <div class="col-md-1">
    <i class="glyphicon glyphicon-menu-left" ng-click="$root.isAdd=0"></i>
  </div>
  <div class="col-md-10">
    <div id="OptionLabel">
      <div ng-show="$parent.$parent.isAdd==1">
        <label class="assetType">OPTION</label>
      </div>
      <div ng-show="$parent.$parent.isAdd==2">
        <label class="assetType">FUTURES</label>
      </div>
    </div>
    <div id="marketLink">
      <a ng-click="$root.isAdd=0; saveNewPositions()" class="glyphicon glyphicon-shopping-cart"></a>
      <span class="littleCircle" ng-show="numberNewPosition > 0">{{numberNewPosition}}</span>
    </div>
    <div>
      <i class="glyphicon glyphicon-menu-down myGreen"></i>
    </div>

    <datalist id="assetList">
      <option ng-repeat="productNameOrProductId in productNameOrProductIdList" ng-value="productNameOrProductId">
    </datalist>

    <div class="spaceLineBottom">
      <input class="productInput" type="text" list="assetList" placeholder="Add your product here" ng-model="codeProduct"
             ng-change="getProductInformations(codeProduct)"/>
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

    <div ng-show="showTable">
      <choose-asset-table product="product" set-current-position="setCurrentPosition"
                          is-position-selected="isPositionSelected" add-position="addPosition"></choose-asset-table>
    </div>
  </div>
</div>
