<div  class="row portfolioSelection">
  <div class="col-md-6 col-md-offset-3">

      <datalist id="portfolioList">
          <option value="portefeuille1">
          <option value="portefeuille2">
          <option value="portefeuille3">
          <option value="myportfolio1">
          <option value="myportfolio2">
      </datalist>

    <input type="text" list="portfolioList" placeholder="Choose/Create your portfolio" ng-model="portfolioName">
    <div class="glyphicon glyphicon-ok-circle" ng-class="{validField: (portfolioName.length >= 5)}"></div>
    <div class="bigLineSpace"  ng-controller="DatePickerController">
      <div class="input-group">
        <input type="text"  uib-datepicker-popup ng-model="dt" ng-click="open()" is-open="popup.opened"  placeholder="Choose a valuation date (optionnal)" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default transparentButton" ng-click="open()">
              <i class="glyphicon glyphicon-calendar" ng-class="{validField: isValidDate()}"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-md-offset-2">
    <i  wz-next class="glyphicon glyphicon-menu-right" ng-click="resetIsAdd()"></i>
  </div>
</div>
