<div  class="row portfolioSummary">
  <div class="col-md-1">
    <i  wz-previous class="glyphicon glyphicon-menu-left"></i>
  </div>
  <div class="col-md-10">
    <table ng-init="editionMode=false">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Desc</th>
          <th>Maturity</th>
          <th>Strike</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
        <tr ng-repeat="position in positionsFormated">
          <td>{{position.product.productId}}</td>
          <td>
            <span ng-switch on="position.product.instrumentType">
              <span ng-switch-when="Option">Option /</span>
              <span ng-switch on="position.product.optionType">
                <span ng-switch-when="CALL">Call</span>
                <span ng-switch-when="PUT">Put</span>
              </span>
              <span ng-switch-when="Future">Futures</span>
            </span>
            on {{position.product.productName}}
          </td>
          <td>{{position.product.maturityDate}}</td>
          <td>{{position.product.exercisePrice}}</td>
          <td><input class="onFocusInput center" disabled="true" ng-model="position.aggregatedQuantity" focus-me="editionMode"
                     maxlength="6" size="8" ng-blur="updatePosition('TODO')"/></td>
          <td class="right">
            <button class="transparentButton icon-close-position" title="Close this position" ng-click="openClosePosition(position)"></button>
            <description-product-dialog product="position.product" > </description-product-dialog>
            <button class="transparentButton glyphicon glyphicon-pencil" ng-click="editionMode=true" title="Edit the quantity of this position"></button>
            <button type="button" class="transparentButton glyphicon glyphicon-remove" ng-click="openDeleteDialog(position)" title="Delete completely this position"></button>
          </td>
        </tr>
      </table>
    </div>

  <div class="col-md-10 col-md-offset-1 bigLineSpace">
    <button ng-click="$root.isAdd=1" class="btn addPositionButton col-md-3">Add Option</button>
    <button ng-click="$root.isAdd=2" class="btn addPositionButton col-md-3">Add Futures</button>
    <input type="submit" wz-next class="resultButton col-md-3 col-md-offset-2" value="Go to my results"/>
  </div>
</div>
