<div  class="row portfolioSelection" ng-controller="SelectionController as selectionCtrl">
  <div class="col-md-6 col-md-offset-3">

    <datalist id="portfolioList">
        <option ng-repeat="portfolio in selectionCtrl.portfolios" ng-value="portfolio.name">
    </datalist>

      <input type="text" list="portfolioList" placeholder="Portfolio name" ng-model="selectionCtrl.portfolioName">
      <span class="glyphicon glyphicon-plus-sign add-portfolio-icon" ng-class="{myGreen: selectionCtrl.isValidPortfolioName()}"
            title="Add a new portfolio" ng-click="selectionCtrl.openAddPortfolio()"></span>

      <!--<span class="glyphicon glyphicon-ok-circle" ng-class="{myGreen: selectionCtrl.isValidPortfolioName()}"></span>-->
      <div class="dateLineSpace">
          <div class="input-group">
              <input type="text"  uib-datepicker-popup ng-model="simulationCtrl.valuationDate" ng-click="selectionCtrl.openValidationDate()" is-open="selectionCtrl.popupValidationDate.opened"  placeholder="Valuation date" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default transparentButton" ng-click="selectionCtrl.openValidationDate()">
              <i class="glyphicon glyphicon-calendar" ng-class="{myGreen: selectionCtrl.popupValidationDate.isValidDate()}"></i>
          </button>
        </span>
          </div>
      </div>


      <span class="glyphicon glyphicon-link" ng-model="selectionCtrl.isLinked" ng-click="selectionCtrl.clickLink()" ng-class="{myBlue: selectionCtrl.isLinked}"></span>

      <div class="input-group">
          <input type="text" ng-disabled="selectionCtrl.isLinked" ng-class="{disabledInput : selectionCtrl.isLinked}" uib-datepicker-popup ng-model="simulationCtrl.positionDate" ng-click="selectionCtrl.openPositionDate()" is-open="selectionCtrl.popupPositionDate.opened"  placeholder="Position date" close-text="Close" />
             <span class="input-group-btn">
               <button ng-disabled="selectionCtrl.isLinked" type="button" class="btn btn-default transparentButton" ng-click="selectionCtrl.openPositionDate()">
                   <i class="glyphicon glyphicon-calendar" ng-class="{myGreen: selectionCtrl.popupPositionDate.isValidDate()}"></i>
               </button>
             </span>
      </div>
  </div>

  <div class="col-md-1 col-md-offset-2">
    <i ng-show="selectionCtrl.popupValidationDate.isValidDate() && selectionCtrl.popupPositionDate.isValidDate() && selectionCtrl.isValidPortfolioName()" wz-next class="glyphicon glyphicon-menu-right" ng-click="simulationCtrl.loadPositions(selectionCtrl.getPortfolio())"></i>
  </div>
</div>
