<div  class="row portfolioSummary">
  <div class="col-md-1">
    <i  wz-previous class="glyphicon glyphicon-menu-left"></i>
  </div>
  <div class="col-md-10">
    <table ng-init="editionMode=false">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Desc</th>
          <th>Maturity</th>
          <th>Strike</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
        <tr ng-repeat="position in positions">
          <td>{{position.productId}}</td>
          <td>
            <span ng-switch on="position.instrumentType">
              <span ng-switch-when="O">Option /</span>
              <span ng-switch on="position.optionType">
                <span ng-switch-when="C">Call</span>
                <span ng-switch-when="P">Put</span>
              </span>
              <span ng-switch-when="F">Futures</span>
            </span>
            on {{position.productId}}
          </td>
          <td>{{position.expiryDate}}</td>
          <td>{{position.exercisePrice}}</td>
          <td><input class="onFocusInput center" disabled="true" ng-model="position.quantity" focus-me="editionMode"  maxlength="6" size="6"/></td>
          <td class="right">
            <button class="transparentButton glyphicon glyphicon-question-sign"></button>
            <button class="transparentButton glyphicon glyphicon-pencil" ng-click="editionMode=true"></button>
            <button class="transparentButton glyphicon glyphicon-remove"></button>
          </td>
        </tr>
      </table>
    </div>

  <div class="col-md-10 col-md-offset-1 bigLineSpace">
    <button ng-click="$root.isAdd=1" class="btn addPositionButton col-md-3">Add Option</button>
    <button ng-click="$root.isAdd=2" class="btn addPositionButton col-md-3">Add Futures</button>
    <input type="submit" wz-next class="resultButton col-md-3 col-md-offset-2" value="Go to my results"/>
  </div>
</div>
